body {
  margin: 0;
  padding: 0;
  background-color: #0a0f0f;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

header {
  text-align: center;
  margin: 30px 0;
}

.graffiti-title {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2.5em;
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.track {
  background-color: #121212;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  width: 90%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.track:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}

.track img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

button {
  font-family: 'Rock Salt', cursive;
  font-size: 1.1em;
  color: #00ffff;
  background-color: transparent;
  border: 2px solid #00ffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #00ffff;
  color: #000000;
  text-shadow: none;
  transform: scale(1.05);
}

/* Frasi neon animate */
.phrase {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2em;
  color: #00ffff;
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease, transform 10s ease-in-out, font-size 10s ease-in;
}

.phrase.show {
  opacity: 1;
  animation: moveInBlock 10s ease-in-out forwards;
}

.phrase.hide {
  opacity: 0;
  transform: scale(0.3);
}

@keyframes moveInBlock {
  0% { transform: translateX(-50%) translateY(0) scale(1); }
  100% { transform: translateX(-50%) translateY(0px) scale(0.3); }
}
